@{
    ViewData["Title"] = "Main Page";
}

@model List<JobPosting>

<div class="container">
    <div class="text-center my-4">
        <h1 class="display-4">Jobs</h1>
        <p>A whole lotta jobs</p>
    </div>
    <div class=" = "row mt4 m-lg-5">
        <div class="col-md-10">
            <input id="inputQuery" class="form-control-lg form-control" type="text" placeholder="search" />
        </div>
        <div class="col-md-2">
            <button onclick="onClickSearch()" class="btn btn-lg btn-primary">Suchen</button>
        </div>
    </div>

    <div id="partialList">

    </div>

</div>


@section Scripts {
    <script>
        function onClickSearch() {
            let query = $('#inputQuery').val();
            $('#partialList').load("/home/GetJobPostingsPartial?query=" + query); // Add the query parameter
        }

        // Load the initial list without a query
        $('#partialList').load("/home/GetJobPostingsPartial");
    </script>
}

