@model RandomTest.Models.JobPosting
@{
    ViewData["Title"] = "Erstellen oder Bearbeiten";
}


<form asp-controller="JobPosting" asp-action="CreateEditJob" enctype="multipart/form-data">

    <div class="card">
        <div class="card-header">
            <h5>Inserate Bearbeiten</h5>
        </div>
        <div class="card-body">
            <input hidden asp-for="id" />
            <div class="row mb-3" >
                <div class="col">
                    <input type="text" placeholder="Job Bezeichnung" class="form-control" asp-for="JobTitle">
                </div>
                <div class="col">
                    <input type="text" placeholder="Job Location" class="form-control" asp-for="JobLocation">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <textarea type="text" placeholder="Job Beschreibung" class="form-control" asp-for="JobDescription"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    Jahresgehalt in Euro
                    <input type="number" step="0.01" placeholder="Verdienst" class="form-control" asp-for="Salary">
                </div>
                <div class="col">
                    Startdatum
                    <input type="date" placeholder="Startdatum" class="form-control" asp-for="Startdate">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    Datei
                    <input type="file" name="file" class="form-control"/>
                </div>
                <div class="col">
                    Companyname
                    <input type="text" placeholder="Name" class="form-control" asp-for="Companyname">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="primary" type="submit">Speichern</button>
        </div>
    </div>
</form>
